 
{%extends 'base.html'%}
{%block title%}View Exam {%endblock%}
{%block content%}

<div class="view">
	<p>View Exam Name</p>
	<a href="{%url 'admins:exam_add'%}">add Exam</a>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>S.No.</th>
				<th>ID</th>
				<th>Exam</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{%for data in exam%}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{data.pk}}</td>
				<td>{{data.name}}</td>
				<td><a href="{%url 'admins:exam_update' data.pk%}">update</a></td>
				<td>
					<form action="{%url 'admins:exam_delete' data.pk%}" method="POST">
						{%csrf_token%}
						<button type="submit" onclick="return confirm('Are you sure you want to delete {{data.name}}? Deleting Exam Name is irreversible action causing loosing all related student and data. Are you still sure?');">Delete</button>
					</form>
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{%endblock%}

